# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Languages in Data Science
- Data Science Libraries
- Data Science Tools

## Some of the popular languages data scientists use are:
1. Python
2. R
3. SQL

## Some of the commonly used libraries used by data scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools | 
| -------------| 
| Jupyter Notebook | 
| Apache Hadoop | 
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [74]:
# This is a simple arithmetic expression to multiply then add integers 
## (3*4)+5
print((3 * 4) + 5)

17

In [80]:
# This will convert 200 minutes into hours by dividing by 60
print(200/60)

3.3333333333333335

## Author
Deborah Wallace Graham